
@if (mostrarFormulario) {
  <div class="overlay"></div>
}

<div class="usuario-form">
  <h2>Cambiar contraseña</h2>
  <div class="form-single">
    <input type="text" [(ngModel)]="usuarioData.nombre_usuario" placeholder="Nombre de usuario *" [readonly]="true">
  </div>

    <div class="form-row">
    <div class="password-container">
      <input [type]="mostrarPassword ? 'text' : 'password'" [(ngModel)]="usuarioData.password" placeholder="Nueva contraseña *">
      <span class="toggle-password" (click)="togglePasswordVisibility()">
        {{ mostrarPassword ? '🔒' : '👁️' }}
      </span>
    </div>

    <!--<div class="form-row password-container">-->
    <div class="password-container">
      <input 
        [type]="mostrarConfirmPassword ? 'text' : 'password'" 
        [(ngModel)]="confirmPassword" 
        placeholder="Confirmar nueva contraseña *"
        (input)="validarPasswords()">
      <span class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
        {{ mostrarConfirmPassword ? '🔒' : '👁️' }}
      </span>
    </div>
    </div>
    
    <div class="password-error" >
      @if (!datosValidos) {
        {{ passwordError }}
      }
    </div> 
  <!--} -->

  <!-- Mostrar solo el botón correcto -->
  <div class="form-actions">
      <button (click)="actualizarContrasena()">Actualizar contraseña</button>
      <button  class="cancelar" (click)="closePassword()">Cancelar</button>
  </div>

  <div class="errores" *ngIf="errores.length > 0">
    <p>⚠️ Errores encontrados:</p>
    <ul>
      <li *ngFor="let error of errores">{{ error }}</li>
    </ul>
  </div>

</div>
