.header {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.1%;
  /*border: 0%;*/
  display: flex;
  /*justify-content: space-between;*/ /* Divide el espacio entre los elementos */
  /*align-items: center;*/ /* Alinea los elementos verticalmente */
  background-color: #333;
  /*padding: 0px 4px;*/
  color: white;
  font-size: 16px;
  position: relative; /* Necesario para posicionar elementos hijos absolutos */
  left: 0px;
}

.left-menu {
  margin: 0px;
  padding: 0;
  list-style: none;
  display: flex;
  left: 0px;
}

.right-menu {
  /*margin: 1.01%;*/
  top: 0.2%;
  /*padding: 0%;*/
  list-style: none;
  display: flex;
  position: absolute; /* Posicionamiento absoluto */
  /*bottom: 0px;*/ /* Al final de la pantalla */
  right: 15%; /* Cerca del borde derecho */
  gap: 20%; /* Espaciado entre Login y Registro */
}


.left-menu li,
.right-menu li {
  margin: 1%;
}


.left-menu a,
.right-menu a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}


.left-menu a:hover,
.right-menu a:hover {
  color:hsl(0, 0%, 18%);
  background-color: hwb(0 98% 2%); /* Color de fondo al pasar el cursor */
  transform: scale(1.1); /* Efecto de zoom ligero */
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #444;
  padding: 10px;
  list-style: none;
  margin: 0;
  border-radius: 4px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  display: block;
  padding: 8px 15px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.dropdown-menu li a:hover {
  color: #444;
  background-color: hwb(0 96% 3%); /* Color de fondo al pasar el cursor */
  transform: scale(1.05); /* Efecto de zoom ligero */
}
